.container{
  width: 100%;
  display: block;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

#myInput{
  width: 320px;
  height: 30px;
  font-size: 16pt;
  border-width: 1px;
  border-color: #c9c9c9;
  border-style: solid;
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo_area{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

  img{
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 10px;
}

.fancybox-caption__body{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a .data-caption {
  font-size: 60px;
}

figcaption {
  display: none;
}

/*--- media query for desktop ---*/

@media (min-width: 1024px) {

  .photo_area{
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  img{
    /* display: flex; */
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

#myInput{
    width: 460px;
    height: 30px;
    font-size: 16pt;
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
